section {
    display: flex;
    flex-direction: column;
}
.colorDemo{
    width: 100px;
    height: 70px;
    border: 1px solid black;
    margin-left: 1em;
}
.slider-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}