body {
    font-family: Arial, sans-serif;
}
section#vrienden {
    margin: 20px;
}
h2 {
    color: dimgray;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid dimgray;
    color: #4a90e2;
}
th {
    background-color: #4a90e2;
    color: white;
}
tr.alt td {
    background-color: #d9eaf7;
}
td.onbekend {
    background-color: red;
    color: white;
}