.kalender {
    width: 300px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
}

.maand-hoofding {
    background-color: rgb(170, 170, 200);
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

table th {
    color: rgb(200, 190, 240);
    background-color: rgb(35, 37, 70);
    padding: 8px;
}

table{
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

td {
    padding: 10px;
    border: 1px dashed black;
}

.vorige-maand, .volgende-maand {
    color: rgb(128, 128, 128);
}

.weekend {
    background-color: rgb(255, 220, 220);
}

.vrije-dag {
    background-color: rgb(250, 120, 120);
}