body{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
section > header > h1{
    background-image: url("../header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding-bottom: 40px;
    font-size: 50px;
}
nav{
    background-color: dimgray;
    padding-top: 5px;
    padding-bottom: 3px;
    font-weight: bold;
}
nav > a{
    color: lawngreen;
    text-decoration: none;
}
article:nth-last-child(n+1) h1{
    color: darkslategray;
    text-decoration: underline;
}
h1{
    margin-bottom: 0;
    font-size: 20px;
}
article{
    background-color: lightgrey;
}
footer{
    margin-top: 10px;
}